<html>
<head>
<link rel = "stylesheet" href = "../static/styling.css">
<title>ESC Year Range Selection</title>
</head>
<body style = "font-family: ESC Font; background-image: url('https://pix.eurovisionworld.com/pix/eurovision-2025-stage.jpg'); background-size: cover;">
<h1 style = "font-family: ESC Font; text-align: center; font-size: 3rem; color: green;">Select a year range to view</h1>
<div class = "menu">
    <div class = "wrapdrop">
        <button class = "drop-disp" style = "font-family: ESC Font; font-size: 2rem;">20th Century</button>
        <div class = "drop-opt">
            <a href = "../ESC/1956-1960.html" target = "_blank">1956-1960</a>
            <a href = "../ESC/1961-1965.html" target = "_blank">1961-1965</a>
            <a href = "../ESC/1966-1970.html" target = "_blank">1966-1970</a>
            <a href = "../ESC/1971-1975.html" target = "_blank">1971-1975</a>
            <a href = "../ESC/1976-1980.html" target = "_blank">1976-1980</a>
            <a href = "../ESC/1981-1985.html" target = "_blank">1981-1985</a>
            <a href = "../ESC/1986-1990.html" target = "_blank">1986-1990</a>
            <a href = "../ESC/1991-1995.html" target = "_blank">1991-1995</a>
            <a href = "../ESC/1996-2000.html" target = "_blank">1996-2000</a>
        </div>
    </div>

    <div class = "wrapdrop">
        <button class = "drop-disp" style = "font-family: ESC Font; font-size: 2rem;">21st Century</button>
        <div class = "drop-opt">
            <a href = "../ESC/2001-2005.html" target = "_blank">2001-2005</a>
            <a href = "../ESC/2006-2010.html" target = "_blank">2006-2010</a>
            <a href = "../ESC/2011-2015.html" target = "_blank">2011-2015</a>
            <a href = "../ESC/2016-2020.html" target = "_blank">2016-2020</a>
            <a href = "../ESC/2021-2025.html" target = "_blank">2021-2025</a>
            <a href = "../ESC/2026.html" target = "_blank">2026</a>
        </div>
    </div>
</div>

<h1 style = "text-align: center; font-size: 3rem; color: green;">OR Select One of the following links:</h1>
<a style = "text-align: center; font-size: 30px; display: block; color: whitesmoke;" href = "https://docs.google.com/spreadsheets/d/1jeSaKW2YF-78i7_SknbKHVReQPBP854hmocA5YAPqd0/edit?usp=sharing" target = "_blank">The Master Spreadsheet</a>
<a style = "text-align: center; font-size: 30px; display: block; margin-top: 20px; color: whitesmoke;" href = "https://www.youtube.com/playlist?list=PLKacAQGcKYL3eHemdYXBnUpob60EYkjFP" target = "_blank">My Winners Playlist</a>

<a style = "text-align: center; font-size: 30px; display: block; margin-top: 250px; color: whitesmoke;" href = "javascript:history.back()">Go Back</a>
</body>
</html>