<html>

<head>
<link rel = "stylesheet" href = "../static/styling.css">
<title>Home Page</title>
</head>

<body style = "background-image: url('https://storage.googleapis.com/eurovision-com.appspot.com/renditions/public/cms/asia_2026_hero_colourspng/Asia_2026_Hero_Colours-fill_size%3D1600x900-focal_point%3D968x394-focal_size%3D182x152-fill_size%3D1600x900-focal_point%3D968x394-focal_size%3D182x152.png'); background-size: cover;">

<h1 style = "font-family: ESC Font; text-align: center; font-size: 3rem;">Welcome to my website!</h1>

<div class = "bt-line">
	<button class = "bt-form" style = "background-image: url('../static/thumb_esc_70_logo.jpg'); margin-left: 100px; color: yellow;" onclick = "location.href = '/ESC';">
View ESC Rankings
	</button>

	<button class = "bt-form" style = "background-image: url('../static/NF.png'); margin-right: 100px; color: white;" onclick = "location.href = '/NFs';">
View National Final Rankings
	</button>
</div>

<div class = "bt-line" style = "margin-top: 150px;">
	<button class = "bt-form" style = "background-image: url('https://storage.googleapis.com/eurovision-com.appspot.com/renditions/public/cms/tamara-zivkovic-nikola-radisicjpg/Tamara%20%C5%BDivkovi%C4%87%20-%20Nikola%20Radi%C5%A1i%C4%87-fill_size%3D1600x900-fill_size%3D1600x900.jpg'); margin-left: 100px; color: green;" onclick = "location.href = '/Ideal';">
View Ideal Rankings
	</button>

	<button class = "bt-form" style = "background-image: url('../static/Spinoff.png'); margin-right: 100px; color: orange;" onclick = "location.href = '/Other';">
View Other Rankings
	</button>
</div>

</body>
</html>