<html>
<head>
<link rel = "stylesheet" href = "../static/styling.css">
<title>Ideal Year Selection</title>
</head>
<body style = "font-family: ESC Font; text-align: center; background-image: url('../static/BG\ Ideal.png'); background-repeat: no-repeat; background-size: cover;">
<h1 style = "font-size: 3rem;">Select a year</h1>
<h2 title="An ideal ranking is my ranking in a given year but with the hypothetical 'What if all of my national final winners won their selections?' In short, all countries that selected their entry through a national final will use my winner instead." style = "font-size: 2rem; color: blueviolet;">What is an "Ideal" Ranking?</h2>

<div class = "bt-line">
    <button class = "bt-form" style = "color: white; background-color: blue;" onclick = "location.href = '../Ideal/2026.html';">
2026
	</button>
</div>

<a style = "text-align: center; font-size: 45px; display: block; color: purple; text-shadow: 2px;" href = "https://docs.google.com/spreadsheets/d/1c1EajrOYvxLbW0-AQcqR3H4Js329_RHh8NtS8ua-uTs/edit?usp=sharing" target = "_blank">Or click here for the master spreadsheet</a>
<footer style = "color: purple; text-shadow: 2px;">Note: For San Marino, I only ranked all of the entries in the grand final. I am not ranking 51 songs.</footer>
<a style = "text-align: center; font-size: 30px; display: block; margin-top: 150px; color: purple;" href = "javascript:history.back()">Go Back</a>

</body>
</html>