<html>
<head>
<link rel = "stylesheet" href = "../static/styling.css">
<title>NF Country Selection</title>
</head>
<body style = "font-family: ESC Font; background-image: url('../static/BG\ NF.png'); background-repeat: no-repeat; background-size: cover;">
<h1 style = "text-align: center; font-size: 3rem; color: green;">Select a country to view</h1>

<div class = "menu">
    <div class = "wrapdrop">
        <button class = "drop-disp" style = "font-family: ESC Font; font-size: 2rem;">A-L</button>
        <div class = "drop-opt">
            <a href = "../NFs/Albania.html" target = "_blank">Albania</a>
            <a href = "../NFs/Austria.html" target = "_blank">Austria</a>
            <a href = "../NFs/Belgium.html" target = "_blank">Belgium</a>
            <a href = "../NFs/Bulgaria.html" target = "_blank">Bulgaria</a>
            <a href = "../NFs/Croatia.html" target = "_blank">Croatia</a>
            <a href = "../NFs/Denmark.html" target = "_blank">Denmark</a>
            <a href = "../NFs/Estonia.html" target = "_blank">Estonia</a>
            <a href = "../NFs/Finland.html" target = "_blank">Finland</a>
            <a href = "../NFs/Georgia.html" target = "_blank">Georgia</a>
            <a href = "../NFs/Germany.html" target = "_blank">Germany</a>
            <a href = "../NFs/Greece.html" target = "_blank">Greece</a>
            <a href = "../NFs/Ireland.html" target = "_blank">Ireland</a>
            <a href = "../NFs/Italy.html" target = "_blank">Italy</a>
            <a href = "../NFs/Latvia.html" target = "_blank">Latvia</a>
            <a href = "../NFs/Lithuania.html" target = "_blank">Lithuania</a>
            <a href = "../NFs/Luxembourg.html" target = "_blank">Luxembourg</a>
        </div>
    </div>

    <div class = "wrapdrop">
        <button class = "drop-disp" style = "font-family: ESC Font; font-size: 2rem;">M-Z</button>
        <div class = "drop-opt">
            <a href = "../NFs/Malta.html" target = "_blank">Malta</a>
            <a href = "../NFs/Moldova.html" target = "_blank">Moldova</a>
            <a href = "../NFs/Montenegro.html" target = "_blank">Montenegro</a>
            <a href = "../NFs/Netherlands.html" target = "_blank">Netherlands</a>
            <a href = "../NFs/Norway.html" target = "_blank">Norway</a>
            <a href = "../NFs/Poland.html" target = "_blank">Poland</a>
            <a href = "../NFs/Portugal.html" target = "_blank">Portugal</a>
            <a href = "../NFs/Romania.html" target = "_blank">Romania</a>
            <a href = "../NFs/San Marino.html" target = "_blank">San Marino</a>
            <a href = "../NFs/Serbia.html" target = "_blank">Serbia</a>
            <a href = "../NFs/Slovenia.html" target = "_blank">Slovenia</a>
            <a href = "../NFs/Spain.html" target = "_blank">Spain</a>
            <a href = "../NFs/Sweden.html" target = "_blank">Sweden</a>
            <a href = "../NFs/Switzerland.html" target = "_blank">Switzerland</a>
            <a href = "../NFs/Ukraine.html" target = "_blank">Ukraine</a>
        </div>
    </div>
</div>

<h1 style = "text-align: center; font-size: 3rem; color: green;">OR Select One of the following links:</h1>
<a style = "text-align: center; font-size: 45px; display: block; margin-top: 20px; color: green; text-shadow: 2px;" href = "https://docs.google.com/spreadsheets/d/1VPiKEAf0WJFECpSyCehiFd0kLO88i0Uu7QnXI1AnixY/edit?usp=sharing" target = "_blank">The Master Spreadsheet</a>
<a style = "text-align: center; font-size: 30px; display: block; margin-top: 20px; color: green;" href = "https://www.youtube.com/playlist?list=PLKacAQGcKYL2DTBW9ImjjI78H3tciTfqP" target = "_blank">My 2026 Winners Playlist</a>


<a style = "text-align: center; font-size: 30px; display: block; margin-top: 250px; color: green;" href = "javascript:history.back()">Go Back</a>
</body>
</html>