<html>
<head>
<link rel = "stylesheet" href = "../static/styling.css">
<title>Miscellaneous Ranking Selection</title>
</head>
<body style = "font-family: ESC Font; text-align: center; background-image: url('../static/BG\ Other.png'); background-repeat: no-repeat; background-size: cover;">
<h1 style = "font-size: 3rem;">Select a contest to view</h1>

<div class = "bt-line" style = "gap: 200px;">
	<button class = "bt-form" style = "color: white; background-color: blue;" onclick = "window.location.href = '../Other/ABU\ TV\ Song\ Festival.html'">
ABU TV Song Festival
	</button>

	<button class = "bt-form" style = "color: white; background-color: blue;" onclick = "window.location.href = '../Other/Premiu\ al\ Meyor\ Cantar.html'">
Premiu al Meyor Cantar
	</button>

	<button class = "bt-form" style = "color: white; background-color: blue;" onclick = "window.location.href = '../Other/Sami\ Grand\ Prix.html'">
Sami Grand Prix
	</button>

    <button class = "bt-form" style = "color: white; background-color: blue;" onclick = "window.location.href = '../Other/Sanremo_ Nuove\ Proposte.html';">
Sanremo: Nuove Proposte
	</button>
</div>

<a style = "text-align: center; font-size: 45px; display: block" href = "https://docs.google.com/spreadsheets/d/1xtNZyO7zMqWT4099-uWtOIAx3FfMmSkkbfmYDW08xpc/edit?usp=sharing" target = "_blank">Or click here for the master spreadsheet</a>
<a style = "text-align: center; font-size: 30px; display: block; margin-top: 250px;" href = "javascript:history.back()">Go Back</a>


</body>
</html>